@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    /* Du skriver utan % tecknet:) Och om du skriver margin och padding här kommer det bara gälla m och p för body och html inte andra taggar som p, div osv så lägg p och m under wildcard istället.*/
    /* margin: 0%;
    padding: 0%; */
}

p {
    font-size: 10px;
    /* padding: 0%; /* Om du sätter padding 0 i wildcard behöver du inte skriva det här. Mindre kod = GOOD FOR YOU!!*/ */
    /* margin: -13%; */ /* Den här har ingen funktion*/
    /* text-align: auto; */
}

.navigation {
    /* width: 100%; */ /* By default är div 100%*/
    font-family: lato, helvetica, sans-serif; /*Font-family brukar man lägga i body-blocket*/
    background-color: lightgrey;
    /* color: black; */
    text-align: center;
}

.menu {
    /* margin: 0%;   */ /* Behövs inte här heller*/
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.550);
    border-radius: 10px;
}

.menu .menu-item:hover a {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    color: white;
}


.navigation .menu .menu-item {
    display: inline;
    /* list-style: none; */
}

.menu .menu-item a {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    color: black;
}

.hamb {
    float: right;
    width: 45px;
    height: 32px;
    margin: 0.4em 0.7em;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

.hamb:hover {
    color: rgba(50, 50, 50, 0.544);

}

@media screen and (max-width:409px) {
    .hamb {
        display: inline-block;
    }

    .menu {
        /* color: black; */
        /* padding: 0%; */
        /* margin: 0%; */
        width: 50%;
        /* text-align: center; */
        display: inline-block;
    }

    .navigation .menu .menu-item {
        display: block;
        /* list-style: none; */
    }

    .menu-collapse {
        width: 100%;
        overflow: hidden;
        /* text-align: center; */
        height: 0vh;
        transition: all 499ms ease;
    }

    .collapse {
        height: 30vh;
    }
}
